<button mat-button color="primary">Primary</button>
<button mat-stroked-button color="accent">Accent</button>
<button mat-icon-button> <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon><br>
  <br>



 
</button>

<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
     
 
<form [formGroup]="firstFormGroup">
         <ng-template matStepLabel>Fill out your name</ng-template>
         
        <mat-form-field>
         <input matInput placeholder="Last name, First name" formControlName="firstCtrl" name="name" required>
         
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="iban" formControlName="firstCtrl" name= "iban" required><br>
          
         </mat-form-field>
         <br>
         <mat-form-field>
          <input matInput placeholder="DNI" formControlName="firstCtrl" name= "DNI" required><br>
          
         </mat-form-field>
         <br>

         <mat-form-field>
          <input matInput [matDatepicker]="myDatepicker" placeholder="Fecha de entrada en vigor">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput placeholder="Valor del continente" formControlName="firstCtrl" required><br>
          
         </mat-form-field>
       
 
  <div>
    <button mat-button color="primary">Primary</button>
          <button mat-stroked-button color="accent">Accent</button>
          <br>
          <br>
          <h4>Localización de la vivienda: </h4>
          <mat-button-toggle-group name="localizacion" aria-label="Font Style">
            <mat-button-toggle value="urbano">CascoUrbano</mat-button-toggle>
            <mat-button-toggle value="afueras">Afueras</mat-button-toggle>
            <mat-button-toggle value="lonely">Loney</mat-button-toggle>
          </mat-button-toggle-group>
          <br>
          <br>
          <h4>Selecciona el numero de hijos: </h4>
          <mat-button-toggle-group name="Numero de hijos" aria-label="Font Style">
            <mat-button-toggle value="uno">1</mat-button-toggle>
            <mat-button-toggle value="dos">2</mat-button-toggle>
            <mat-button-toggle value="tres">3</mat-button-toggle>
            <mat-button-toggle value="cuatro">4</mat-button-toggle>
            <mat-button-toggle value="cinco">5</mat-button-toggle>
            <mat-button-toggle value="masDeCinco">+5</mat-button-toggle>
          </mat-button-toggle-group>
          <br>
          <br><br>
          <h4>Cuantas personas residen en el domicilio? </h4>
          <mat-button-toggle-group name="Numero de hijos" aria-label="Font Style">
            <mat-button-toggle value="uno">1</mat-button-toggle>
            <mat-button-toggle value="dos">2</mat-button-toggle>
            <mat-button-toggle value="tres">3</mat-button-toggle>
            <mat-button-toggle value="cuatro">4</mat-button-toggle>
            <mat-button-toggle value="cinco">5</mat-button-toggle>
            <mat-button-toggle value="masDeCinco">+5</mat-button-toggle>
          </mat-button-toggle-group>
          
          <br>
          <mat-form-field>
            <input matInput placeholder="Codigo Postal" formControlName="firstCtrl" name= "codigoPostal" required><br>
            
           </mat-form-field>
           
           <br>
           <mat-form-field>
            <input matInput placeholder="Ciudad" formControlName="firstCtrl" name= "ciudad" required><br>
            
           </mat-form-field>
           <br>
           
         
        <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Next</button>
  </div>
</form>
</mat-step>

<mat-step [stepControl]="secondFormGroup">
    
 
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address">
        </mat-form-field>
        <br>
        

      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Tipo de vivienda" formControlName="secondCtrl" required>
            <mat-option>None</mat-option>
            <mat-option value="option1">Piso Alto</mat-option>
            <mat-option value="option2">Piso Bajo</mat-option>
            <mat-option value="option3">Casa</mat-option>
            <mat-option value="option3">Adosado</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Tipo de Construccion" formControlName="secondCtrl" required>
            <mat-option>None</mat-option>
            <mat-option value="option1">Piso Alto</mat-option>
            <mat-option value="option2">Piso Bajo</mat-option>
            <mat-option value="option3">Casa</mat-option>
            <mat-option value="option3">Adosado</mat-option>
          </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Año de construccion" formControlName="secondCtrl" name= "anoConstruccion" required><br>
       </mat-form-field>
       <br>
       <mat-form-field>
        <input matInput placeholder="Superficie construida" formControlName="secondCtrl" name= "superficieConstruida" required><br>
       </mat-form-field>

       
      
       
 
        <div>
          <mat-checkbox [(ngModel)]="opcion1">Sumar</mat-checkbox>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </form>
 
 
</mat-step>



<mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
     
 
<div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
 
 
  </mat-step>
</mat-horizontal-stepper>